<app-user-landing-page></app-user-landing-page>
<br>
<div class="container">
   
</div>
<br><br>
<div class="container">

    <h2>IPO List</h2><br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th> Company Name</th>
                <th> Stock Exchange</th>
                <th> Date</th>
                <th> Time</th>
                <th> Total No. Of Shares</th>
                <th> Price Per Share</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of ipo">
                <td>
                    {{c.id}}
                </td>
                <td>
                    {{c.companyName}}
                </td>
                <td>
                    {{c.stockExchange}}
                </td>
                <td>
                    {{c.date}}
                </td>
                <td>
                    {{c.time}}
                </td>
                <td>
                    {{c.totalNumberOfShares}}
                </td>
                <td>
                    {{c.pricePerShare}}
                </td>

            </tr>

        </tbody>
    </table>
</div>