<div class = "container">
    <button (click) = "addCompany()" class ="btn btn-info" style="margin-left: 10px;">Add COmpany</button>
</div>
<br>
<br>
<h2>Company List</h2><br><br>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th>
            <th> Company Name</th>
            <th> Stock Exchange</th>
            <th> CEO</th>
            <th> Board Of Directors</th>
            <th> Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let c of company">
            <td>
                {{c.id}}
            </td>
            <td>
                {{c.companyName}}
            </td>
            <td>
                {{c.stockexchange}}
            </td>
            <td>
                {{c.ceo}}
            </td>
            <td>
                {{c.boardOfDirectors}}
            </td>
            
            <td>
                <button (click) = "updateCompany(c.id)" class ="btn btn-info">Update</button>            

                <button (click) = "deleteCompany(c.id)" class ="btn btn-info" style="margin-left: 10px;">Delete</button>            
            </td>
        </tr>

    </tbody>
</table>


