<h2>Welcome</h2><br>

<div class = "container">
    <button (click) = "importData()" class ="btn btn-info" style="margin-left: 10px;">Import Data</button>
</div>

<div class = "container">
    <button (click) = "manageCompany()" class ="btn btn-info" style="margin-left: 10px;">Manage Companies</button>
</div>

<div class = "container">
    <button (click) = "manageExchange()" class ="btn btn-info" style="margin-left: 10px;">Manage Exchanges</button>
</div>

<div class = "container">
    <button (click) = "manageIpo()" class ="btn btn-info" style="margin-left: 10px;">Manage IPO </button>
</div>