<div style ="background-color:black;">
<div class="container" >
    <br>
    <h2 style = "color:antiquewhite;text-align:center;">Welcome Admin {{username}}</h2><br>
    <button (click)="homePage()" class="btn btn-info" style="margin-left: 10px;">Home Page</button>

    <button (click)="importData()" class="btn btn-info" style="margin-left: 10px;">Import Data</button>

    <button (click)="manageCompany()" class="btn btn-info" style="margin-left: 10px;">Manage Companies</button>

    <button (click)="manageExchange()" class="btn btn-info" style="margin-left: 10px;">Manage Exchanges</button>

    <button (click)="manageIpo()" class="btn btn-info" style="margin-left: 10px;">Manage IPO </button>

    <button (click)="manageUsers()" class="btn btn-info" style="margin-left: 10px;">Manage Users </button>

    <button (click)="logout()" class="btn btn-info" style="margin-left: 10px;">Logout</button>
    <br><br><br>
</div>
</div>