<div style ="background-color:black;">
    <div class="container" >
        <br>
        <h2 style = "color:antiquewhite;text-align:center;">Welcome User {{username}}</h2><br>
    <button (click)="homePage()" class="btn btn-info" style="margin-left: 10px;">Home Page</button>

    <button (click)="companyAll()" class="btn btn-info" style="margin-left: 10px;">All Companies</button>

    <button (click)="ipoAll()" class="btn btn-info" style="margin-left: 10px;">IPOs</button>

    <button (click)="compareCompanies()" class="btn btn-info" style="margin-left: 10px;">Compare Companies</button>

    <button (click)="compareSectors()" class="btn btn-info" style="margin-left: 10px;">Compare Sectors</button>
    
    <button (click)="logout()" class="btn btn-info" style="margin-left: 10px;">Logout</button>
    <br><br><br>

</div>
</div>
