<div class="col-md-6 offset-md-3">
    <h2>Add Company</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Company Name</label>
            <input type="text" class="form-control" id="cname" [(ngModel)]="company.companyName" name="cname">
        </div>
        <div class="form-group">
            <label>StockExchange</label>
            <select class="form-control" name="stockexchange" [(ngModel)]="company.stockexchange" id="stockexchange">
                <option *ngFor="let exchange of stockExchangeDetails" [value]="exchange.stockExchangeName">
                    {{exchange.stockExchangeName}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>CEO</label>
            <input type="text" class="form-control" id="ceo" [(ngModel)]="company.ceo" name="ceo">
        </div>
        <div class="form-group">
            <label>Board Of Directors</label>
            <input type="text" class="form-control" id="bod" [(ngModel)]="company.boardOfDirectors" name="bod">
        </div>


        <button class="btn  btn-success" type="submit">Submit</button>

    </form>
</div>