<br>
<div class="alert" style ="border-color: red;border-width: 4px;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Important!</strong> After successful Signup, visit mailtrap.io and sign in with <br>emailId: kshitij.shahade@gmail.com  passwoord: mailtrap1234 <br> Go to my inbox and confirm your email by clicking on the link in the mail.   
  </div>
<br>
<div class = "col-md-6 offset-md-3">
<h2>Signup</h2>
<br><br>
<form (ngSubmit) = "onSubmit()">
    <div class ="form-group">
        <label>User Name</label>
        <input type = "text" class ="form-control" id="uname" [(ngModel)] = "user.username" name = "uname" required>
    </div>
    <div class ="form-group">
        <label>Email Id</label>
        <input type = "text" class ="form-control" id="emailid" [(ngModel)] = "user.email" name = "emailid" required>
    </div>
    <div class ="form-group">
        <label>Type</label>
        <select class ="form-control" name = "type" [(ngModel)] = "user.type" id="type" placeholder="Type" required>
            <option  value ="user">user</option>
            <option value ="admin">admin</option>
        </select>
    </div>
    <div class ="form-group">
        <label>Mobile Number</label>
        <input type = "number" class ="form-control" id="mobileno" [(ngModel)] = "user.mobile" name = "mobileno">
    </div>
    <div class ="form-group">
        <label>Password</label>
        <input type = "text" class ="form-control" id="pass" [(ngModel)] = "user.password" name = "pass" required>
    </div>


    <button class ="btn  btn-success"   type="submit">Submit</button>
    
</form>
</div>