<div class = "col-md-6 offset-md-3">
    <h2>Update User</h2>
    
    <form (ngSubmit) = "onSubmit()">
        <div class ="form-group">
            <label>User Name</label>
            <input type = "text" class ="form-control" id="uname" [(ngModel)] = "user.username" name = "uname">
        </div>
        <div class ="form-group">
            <label>Email Id</label>
            <input type = "text" class ="form-control" id="emailid" [(ngModel)] = "user.email" name = "emailid">
        </div>
        <div class ="form-group">
            <label>Type</label>
            <input type = "text" class ="form-control" id="type" [(ngModel)] = "user.type" name = "type">
        </div>
        <div class ="form-group">
            <label>Mobile Number</label>
            <input type = "number" class ="form-control" id="mobileno" [(ngModel)] = "user.mobile" name = "mobileno">
        </div>
        <div class ="form-group">
            <label>Password</label>
            <input type = "text" class ="form-control" id="pass" [(ngModel)] = "user.password" name = "pass">
        </div>
    
    
        <button class ="btn  btn-success" type="submit">Submit</button>
        
    </form>
    </div>